section {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: solid 1px #ccc;
    padding: 50px;
    margin: auto;
}
form {
    display: flex;
    flex-direction: column;
    text-align: center;
}
form a {
    text-align: right;
}
body {
    align-content: center;
    height: 100%;
    text-align: center;
}
input {
    margin-bottom: 12px;
    border-radius: 3px;
    padding: 4px;
}
button {
    margin: 20px 0;
    background-color: #c404d3;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
}
